# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.log

# Virtual environments
.venv/
venv/
env/

# IDE / Editor
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Cursor / tooling
.cursor/

# Build artifacts
build/
dist/
*.spec
.tmp.driveupload/
*.pyz
*.toc
desktop.ini